:root {
  --vh: 1vh;
  --z-below: -1;
  --hover-alpha: 0.08;
  --transition-standard-easing: cubic-bezier(.4, .0, .2, 1);
  --transition-standard-in-time: .3s;
  --transition-standard-out-time: .25s;
  --transition-standard-in: var(--transition-standard-in-time) var(--transition-standard-easing);
  --transition-standard-out: var(--transition-standard-out-time) var(--transition-standard-easing);
  --pm-transition: .2s ease-in-out;
  --layer-transition: .2s cubic-bezier(.4, .0, .2, 1);
  --slide-header-transition: .4s ease-in-out;
  --tabs-transition: .25s ease-in-out;
  --btn-menu-transition: .2s cubic-bezier(.4, 0, .2, 1);
  --esg-transition: var(--btn-menu-transition);
  --popup-transition-function: cubic-bezier(.4, 0, .2, 1);
  --popup-transition-time: .15s;
  --btn-corner-transition: .2s cubic-bezier(.34, 1.56, .64, 1);
  --chatlist-badge-transition-in: .2s cubic-bezier(.35,.35,.47,1);
  --chatlist-badge-transition-out: .2s cubic-bezier(.35,.35,.7,1);
  --message-handhelds-margin: 5.5625rem;
  --message-beside-button-size: 2.375rem;
  --message-beside-button-margin: calc((var(--message-beside-button-size) + .5rem) * -1);
  --message-time-background: rgba(0, 0, 0, .35);
  --message-highlightning-color: hsla(85.5319, 36.9171%, 40.402%, .4);
  --messages-container-width: 728px;
  --messages-text-size: 16px;
  --messages-secondary-text-size: calc(var(--messages-text-size) - 2px);
  --line-height: 1.3125;
  --esg-sticker-size: 80px;
  --disabled-opacity: .3;
  --round-video-size: 280px;
  --menu-box-shadow: 0px 2px 8px 1px var(--menu-box-shadow-color);
  --topbar-floating-scaleX: 1;
  --topbar-call-height: 3rem;
  --topbar-floating-call-height: 0px;
  --call-button-size: 3.375rem;
  --call-button-margin: 2rem;
  --peer-avatar-red-top: #ff885e;
  --peer-avatar-red-bottom: #ff516a;
  --peer-avatar-orange-top: #ffcd6a;
  --peer-avatar-orange-bottom: #ffa85c;
  --peer-avatar-violet-top: #82b1ff;
  --peer-avatar-violet-bottom: #665fff;
  --peer-avatar-green-top: #a0de7e;
  --peer-avatar-green-bottom: #54cb68;
  --peer-avatar-cyan-top: #53edd6;
  --peer-avatar-cyan-bottom: #28c9b7;
  --peer-avatar-blue-top: #72d5fd;
  --peer-avatar-blue-bottom: #2a9ef1;
  --peer-avatar-pink-top: #e0a2f3;
  --peer-avatar-pink-bottom: #d669ed}
#root{
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html:not(.is-safari):not(.is-ios) .scrollable::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
  width: 0.375rem;
}
html:not(.is-safari):not(.is-ios) ::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
html:not(.is-safari):not(.is-ios) ::-webkit-scrollbar-corner {
  background-color: transparent;
}
html:not(.is-safari):not(.is-ios) .scrollable::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}
html:not(.is-safari):not(.is-ios) ::-webkit-scrollbar-thumb {
  opacity: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

html:not(.is-safari):not(.is-ios) .scrollable:hover::-webkit-scrollbar-thumb {
  min-height: 5rem;
  max-height: 12.5rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .2);
  background-color: var(--scrollbar-color);
  opacity: 1;
}